Package: praxis-live
Version: 3:VERSION-1
Architecture: all
Maintainer: Neil C Smith <neilcsmith.net@googlemail.com>
Installed-Size: 140000
Depends: openjdk-8-jre | java8-runtime
Recommends: gstreamer1.0-plugins-base, gstreamer1.0-plugins-good
Priority: optional
Homepage: http://www.praxislive.org
Description: Hybrid visual IDE for (live) creative coding
